* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}

#app {
    background: #ddd;
    position: relative;
    transform-origin: top left;
}

.word {
    font-family: monospace;
    outline: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.2rem 0.5rem;
    color: black;
    background: white;
    font-size: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.word:hover {
    cursor: grab;
}

/* New fridge */
/* TODO get rid of this. */

#new-fridge-modal-toggle {
    background: yellow;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;
    cursor: default;
}

#new-fridge-modal-toggle:hover {
    background: white;
    outline: 5px solid yellow;
}

.new-fridge-modal {
    background: yellow;
    padding: 2rem;
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 50%;
    right: 5rem;
    z-index: 6;
}

.new-fridge-modal-hidden {
    display: none;
}

.new-fridge-modal p {
    font-weight: bold;
}

/* User dropdown */

#user-dropdown-wrap {
    position: absolute;
    top: 1rem;
    right: 5rem;
    background: white;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#user-dropdown-wrap .user-dropdown-toggle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 2rem;
    font-family: sans-serif;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#user-dropdown-wrap:hover {
    outline: 3px solid white;
}

.user-dropdown {
    position: absolute;
    top: 5rem;
    right: 0rem;
    z-index: 10;
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "sans-serif";
    display: none;
    width: 300px;
}

.user-details-wrap {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.user-details-wrap .display-color {
    background: gray;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
}

.display-color-selector {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 300px;
    padding: 0.75rem;
    background: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px;
    column-gap: 4px;
    row-gap: 4px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.display-color-selector div {
    height: 100%;
    width: 100%;
    margin: 0.1rem;
    border-radius: 50%;
    background: white;
}

.display-color-selector div:hover {
    outline: 4px solid black;
}

.user-details-wrap .display-name {
    color: #555;
    font-size: 1.3rem;
    text-decoration: none;
}

.user-details-wrap .display-name:hover {
    color: black;
    text-decoration: underline;
}

.user-dropdown a {
    font-weight: bold;
    text-decoration: none;
    padding: 0.3rem;
    color: gray;
}

.user-dropdown a:hover {
    color: black;
}

.user-dropdown button {
    font-weight: bold;
    color: red;
    outline: 2px solid red;
    border-radius: 0.3rem;
    padding: 0.3rem 0.4rem;
    display: block;
    border: 0;
    margin-top: 1rem;
}

.user-dropdown button:hover {
    background: red;
    color: white;
}
