html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#app {
    background: #ddd;
    color: black;
    font-family: sans-serif;
    height: 100%;
    padding-left: 20%;
    padding-top: 20%;
}

h1 {
    margin: 0;
}

input {
    background: transparent;
    border: 1.5px solid black;
    color: black;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    font-weight: bold;
}

.label,
label {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    display: block;
    font-size: 0.6rem;
}

.label p,
label p {
    display: block;
    margin: 0.2rem 0;
}
