@import "ui-style.css" layer(ui);

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}

#app {
    background: #ddd;
    position: relative;
    transform-origin: top left;
}

.word,
#dragghost {
    font-family: monospace;
    outline: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.1rem 0.25rem;
    color: black;
    background: white;
    font-size: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.word:hover {
    cursor: grab;
}

#dragghost {
    top: -100px;
    left: -100px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.4);
}

.vertical-ghost {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}
